/.metals
/.images
/.__pycache__
static/.images
static/images/jeans1.jpeg
static/images/tshort1.jpeg
uploads/real.jpg

uploads/tactica.jpg
static/images/switer1.jpeg
static/images/pullover1.jpeg
uploads/vladick.jpg
uploads/coat.jpg
uploads/coat.jpg
uploads/sandal2.jpg
/.uploads
__pycache__/config.cpython-310.pyc
static/images/tshortBlack2.jpeg
static/images/tshortBlack.jpeg
static/images/Trouser6.jpeg
static/images/Trouser5.jpeg
static/images/sandal.jpeg
static/images/pullover9.jpeg
static/images/pullover8.jpeg
static/images/pullover7.jpeg
static/images/pullover6.jpeg
static/images/pullover5.jpeg
static/images/pullover4.jpeg
static/images/pullover3.jpeg
