/.metals
/.images
/.__pycache__
static/.images
static/images/jeans1.jpeg
static/images/tshort1.jpeg
uploads/real.jpg

uploads/tactica.jpg
static/images/switer1.jpeg
static/images/pullover1.jpeg
uploads/vladick.jpg
uploads/coat.jpg
