input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
}

#file-upload {
    display: none; /* скрыть стандартную кнопку */
}

#file-upload-name {
    display: inline-block;
    margin-left: 10px;
}
/*________________________________________________________________________________________*/

.button-upload {
    display: flex;
    align-items: center; /* Выравнивание элементов по вертикали */
}

.button-upload input[type="file"],
.button-upload label,
.button-upload button {
    margin-right: 10px; /* Пространство между элементами */
}

.button-upload button {
    appearance: none; 
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px; 
    height: 40px; 
    will-change: transform;
}

.button-upload button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-upload button:active {
    box-shadow: none;
    transform: translateY(0);
}
.button-upload label:hover img {
    cursor: pointer; /* Изменение курсора при наведении */
}

.button-upload img {
    /* Задаем статичное положение изображения */
    transition: transform 0.3s ease-in-out;
    animation: none;
}

.button-upload label:hover img {
    /* Анимация применяется только при наведении */
    animation: none; /* Отключаем текущую анимацию */
    animation: moveUp 1s infinite alternate; /* Применяем новую анимацию */
}

@keyframes moveUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}
/*________________________________________________________________________________________*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
}
/*________________________________________________________________________________________*/

.logo {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    
}
.logo img {
    max-height: 100px; /* Здесь указывается максимальная высота в пикселях */
    animation: none; /* Отключаем текущую анимацию */
    animation: moveUp 1s infinite alternate;
}
/*________________________________________________________________________________________*/

.catalog {
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    font-size: large;
}
.catalog-link {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out; /* Плавный переход цвета */
}
.catalog-link:hover {
    text-decoration: underline;
    font-weight: bold;
    background-image: repeating-conic-gradient(#553c9a 0%, #553c9a 10%, #ee4b2b 10%, #ee4b2b 20%, #00c2cb 20%, #00c2cb 30%);
    -webkit-background-clip: text; /* Для поддержки веб-кит браузеров */
    background-clip: text;
    color: transparent;
}
/*________________________________________________________________________________________*/

.classification {
    text-align: center; /* Align text in the center */
    margin-right: 20px; /* Add some spacing to the right to separate from other elements */
}

.upload-container {
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Align items in the center */
}

.inputfile {
    display: none; /* Hide the default file input */
}
/*________________________________________________________________________________________*/

footer {
    display: flex; /* Используем flexbox */
    justify-content: space-between; /* Распределение блоков по всей ширине */
    padding: 20px; /* Добавляем отступы для красоты */
    background-color: #fbfbfb;
}

.footer-block {
    flex: 1; /* Равное распределение пространства между блоками */
    margin-right: 20px; /* Отступ между блоками */
}

.footer-block:last-child {
    margin-right: 0; /* Убираем отступ справа у последнего блока */
}
/*________________________________________________________________________________________*/

#product-container {
    display: flex;
    flex-wrap: wrap;
}
#product-container img {
    width: 60%; /* Желаемая ширина изображения */
    height: auto; /* Автоматическое подстраивание высоты для сохранения пропорций */
}

#product-container p {
    font-weight: bold
}
.product {
    width: calc(25% - 20px); 
    margin: 10px; 
}
.product img {
    transition: transform 0.3s ease-in-out; /* Добавляем плавную анимацию */
    cursor: pointer;
}

.product img:hover {
    transform: scale(1.1); /* Увеличиваем изображение при наведении */
}
/*________________________________________________________________________________________*/
.container {
    display: flex;
    justify-content: space-between;
}
.cart-items {
    flex: 1;
    overflow-y: auto;
}
.user-data-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px; 
    margin-right: 650px; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif; 
    flex: 0 0 300px; /* Фиксированная ширина блока формы */
    margin-left: 20px; 
}
.user-data-form form {
    width: 100%;
}
.user-data-form label,
.user-data-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px; /* Отступ между полями */
}
select {
    appearance: none; /* Удаление стандартного стиля элемента в браузере */
    padding: 10px; /* Поля вокруг текста внутри элемента */
    font-size: 16px; /* Размер текста */
    border: 1px solid #ccc; /* Граница */
    border-radius: 5px; /* Скругление углов */
    background-color: #f8f8f8; /* Цвет фона */
    width: 100%; /* Ширина элемента */
    cursor: pointer; /* Изменение указателя при наведении */
}
  
  /* Стили для опций select */
select option {
    padding: 10px; /* Поля вокруг текста внутри опций */
    font-size: 16px; /* Размер текста */
}
  
  /* Стили для hover и focus */
select:hover,
select:focus {
    border-color: #999; /* Цвет границы при наведении или фокусе */
}
  
  /* Стили для hover опций */
select option:hover {
    background-color: #ddd; /* Цвет фона при наведении на опцию */
}

.user-data-form button {
    width: 100%;
    padding: 10px; /* Поля вокруг кнопки */
    background-color: #007bff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Скругление углов кнопки */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
    margin-top: 10px;
}
.user-data-form button:hover {
    background-color: #0056b3; /* Измененный цвет фона при наведении */
}

.cart-item img {
    max-width: 150px; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота для поддержания пропорций */
    margin-right: 10px; /* Отступ между изображением и текстом */
    position: relative;
}

.cart-item {
    position: relative;
    display: inline-block;
}

.cart-item .item-image {
    position: relative;
}

.cart-item .item-image img {
    width: 200px; /* Размер фото товара */
    height: auto;
}

.cart-item .cancel-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5); /* Прозрачный белый фон */
    text-align: center;
}

.cart-item:hover .cancel-overlay {
    display: block;
}
.cancel-overlay img {
    width: 20px; /* Новая ширина изображения cancel.png */
    height: auto; /* Автоматическая высота для поддержания пропорций */
}
/*________________________________________________________________________________________*/

.notification {
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 9999;
}
/*________________________________________________________________________________________*/

.checkout-summary {
    background-color: #f2f2f2; 
    padding: 20px; /* Внутренние отступы */
    border-radius: 5px; /* Закругленные углы */
    margin-top: 20px; /* Отступ сверху */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень блока */
    font-family: "Roboto", Arial, sans-serif;
}

.checkout-summary h2 {
    margin-top: 0; 
}

.checkout-summary p {
    margin-bottom: 10px;
    font-family: "Roboto", Arial, sans-serif;
}