<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>Shopping Cart</title>
</head>
<body>
    <!-- Здесь можете добавить содержимое корзины, например: -->
    <h1>Корзина товаров</h1>
    <div id="cart-items">
        <!-- Здесь будет отображаться содержимое корзины -->
    </div>
</body>
</html>