<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <!-- Логотип -->
    <header>
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Логотип">
            </a>
        </div>

        <div class="catalog">
            <a href="#" class="catalog-link">New products</a>
            <a href="/cart" class="catalog-link">Cart</a>
        </div>
    </header>

    <div class="filters">
        <h2>Filters</h2>
        <div class="filter-container">
            <!-- Фильтр по цене -->
            <div class="price-filter">
                <label for="max-price">Price:   <span id="max-price-value">0</span></label>
                <input type="range" id="max-price" name="max-price" min="10" max="350" step="10" oninput="updateMaxPrice(this.value)">
            </div>
        
            <!-- Фильтр по классу одежды -->
            <div class="clothing-class-filter">
                <label for="clothing-class">Type:</label>
                <select id="clothing-class" name="clothing-class">
                    <option value="">All</option>
                    <option value="T-shirt/top">T-shirt/top</option>
                    <option value="Trouser">Trouser</option>
                    <option value="Pullover">Pullover</option>
                    <option value="Dress">Dress</option>
                    <option value="Coat">Coat</option>
                    <option value="Sandal">Sandal</option>
                    <option value="Shirt">Shirt</option>
                    <option value="Sneaker">Sneaker</option>
                    <option value="Bag">Bag</option>
                    <option value="Ankle boot">Ankle boot</option>
                </select>
            </div>
        
    
            <!-- Фильтр по классификации фото -->
            <div class="upload-container">
                <form action="/upload" method="post" enctype="multipart/form-data">     
                    <div class="button-upload">
                        <input type="file" name="file" id="file" class="inputfile" accept="image/*">
                        <label for="file">
                            <img src="{{ url_for('static', filename='down.gif') }}" alt="Иконка загрузки">
                        </label>
                        <button type="button" onclick="uploadImage()" title="Нажмите, чтобы загрузить и классифицировать изображение">Go!</button>
                    </div>
                </form>
                <div id="classification-result"></div>
            </div>
        </div>

        <button class="apply-button" onclick="applyFilters()">Apply filters</button>
    </div>

    </div>
    <!-- <div id="product-container" class="row"></div> -->
    <div id="product-container">
        {% for product in products %}
            <div class="product">
                <div>
                    <img src="{{ product.image }}" alt="{{ product[0] }}" onclick="addToBasket('{{ product.name }}', '{{ product.image }}', '{{ product.price }}')">
                </div>
                <div class="product-item">
                    <h4>{{ product.name }}</h4>
                </div>
                
                <div class="product-item">
                    <p>${{ product.price }}</p>
                    <p class="product-class">{{product.class}}</p>
                </div>
                <div class="radio-input">
                    <label>
                    <input value="M" name="value-radio" id="M" type="radio">
                    <span>M</span>
                    </label>
                    <label>
                      <input value="L" name="value-radio" id="L" type="radio" checked>
                    <span>L</span>
                    </label>
                    <label>
                      <input value="XL" name="value-radio" id="XL" type="radio">
                    <span>XL</span>
                    </label>
                    <label>
                      <input value="XXL" name="value-radio" id="XXL" type="radio">
                    <span>XXL</span>
                    </label>
                    <span class="selection"></span>
                  </div>
            </div>
        {% endfor %}
    </div>

    <footer>
        <div class="footer-block">
            <h3>Про нас</h3>
            <p>Ми – ваш надійний партнер у світі моди. Наша команда прагне надати вам найкращий вибір одягу, який підкреслить вашу унікальність та стиль. Ми ретельно відбираємо товари, щоб задовольнити ваші потреби та надати вам найкращі модні рішення. Наша мета - зробити вашу покупку приємною та зручною, а ваш образ стильним та впевненим.</p>
        </div>
        <div class="footer-block">
            <h3>Каталог</h3>
            <a href="#" class="catalog-link">Верхняя одежда (выше колена)</a>
            <a href="#" class="catalog-link">Нижняя одежда (ниже колена)</a>
        </div>
        <div class="footer-block">
            <h3>Соціальні мережі</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>