<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <!-- Логотип -->
    <header>
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Логотип">
            </a>
        </div>

        <div class="catalog">
            <a href="#" class="catalog-link">Верхняя одежда (выше колена)</a>
            <a href="#" class="catalog-link">Нижняя одежда (ниже колена)</a>
            <a href="/cart" class="catalog-link">Корзина</a>
        </div>

        <!-- Классификация изображений -->
        <div class="classification">
            <h3>Классификация изображений</h3>
            <div class="upload-container">
                <form action="/upload" method="post" enctype="multipart/form-data">     
                    <div class="button-upload">
                        <input type="file" name="file" id="file" class="inputfile" accept="image/*">
                        <label for="file">
                            <img src="{{ url_for('static', filename='down.gif') }}" alt="Иконка загрузки">
                        </label>
                        <button type="submit" title="Натисніть піктограму завантаження та виберіть файл для класифікації. Далі натисніть кнопку і насолоджуйтесь результатом!">Поехали!</button>
                    </div>
                </form>
                {% if message %}
                    <p>{{ message }}</p>
                {% endif %}
            </div>
        </div>
    </header>

    <!-- <div id="product-container" class="row"></div> -->
    <div id="product-container">
        {% for product in products %}
            <div class="product">
                <img src="{{ product.image }}" alt="{{ product[0] }}" onclick="addToBasket('{{ product.name }}', '{{ product.image }}', '{{ product.price }}')">
                <h4>{{ product.name }}</h4>
                <p>Цена: ${{ product.image }}</p>
            </div>
        {% endfor %}
    </div>

    <footer>
        <div class="footer-block">
            <h3>Про нас</h3>
            <p>Ми – ваш надійний партнер у світі моди. Наша команда прагне надати вам найкращий вибір одягу, який підкреслить вашу унікальність та стиль. Ми ретельно відбираємо товари, щоб задовольнити ваші потреби та надати вам найкращі модні рішення. Наша мета - зробити вашу покупку приємною та зручною, а ваш образ стильним та впевненим.</p>
        </div>
        <div class="footer-block">
            <h3>Каталог</h3>
            <a href="#" class="catalog-link">Верхняя одежда (выше колена)</a>
            <a href="#" class="catalog-link">Нижняя одежда (ниже колена)</a>
        </div>
        <div class="footer-block">
            <h3>Соціальні мережі</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
            </ul>
        </div>
    </footer>
    
</body>
</html>